extends site/layout

mixin form(title, return)
  - if not title
    - set title = 'Change passowrd in '

  form#changepassword_form( method='post' )
    - if not return
      .row
        a( href!="{{ handler.reverse_url('twitter_profile') }}" ) Return

    {{ handler.xsrf_form_html() }}

    {% if status_code != None %}
    .message
      {% if status_code == 0 %}
      p Successfully changed.
      {% endif %}

      {% if status_code|bitwise_flag(1) %}
      p All fields are required.
      {% endif %}

      {% if status_code|bitwise_flag(2) %}
      p Confirm password. 
      {% endif %}

      {% if status_code|bitwise_flag(4) %}
      p Not changed.
      {% endif %}
    {% endif %}


    {% if status_code != 0 %}
    h1  #{title}
      br
      | Smart Tweet account

    .row
      input#password.customplaceholder( type='password', name='password', value='', title='Password', autocomplete='off' )
      label.label.placeholder( for='password' ) Password

    .row
      input#confirm_password.customplaceholder( type='password', name='confirm_password', value='', title='Confirm Password', autocomplete='off' )
      label.label.placeholder( for='confirm_password' ) Confirm Password

    .row
      button#submit.button( type='submit' ) Save
    {% endif %}

