.description
  h2 Don't have a Smart Tweet account?
  .row
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. 

  a.button( href='/', rel='#create_account' ) Create account
