.profile
  {% if user %}
  {% if user and user.nick %}
  h1 Hellow {{ user.nick }}
  {% endif %}

  .row
    {% if user and user.email %}
    p 
      strong Email:
      |  {{ user.email }}
    {% endif %}

    {% if user and user.access_token.screen_name %}
    p 
      strong Twitter:
      |  {{ user.access_token.screen_name }}
    {% endif %}
  a#logout.button( href!="{{ handler.reverse_url('logout') }}" ) Log out
  {% else %}
  {% endif %}
