extends site/layout
- set status_code = handler.get_argument('status_code', None)

block javascript
  script#message( type='text/template' )
    .message
      p %s

  script#success( type='text/template' )
    h1 Account created in
      br
      | Smart Tweet

    .message
      p Thanks.
    
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.addaccount.js')

block content
  #addaccount
    #main
      #main_inner
        .description
          include site/_profile

        #register.form
          #response
          h1 Add your twitter in
            br
            | Smart Tweet account
          a#add_account_button.button( href!="{{ handler.reverse_url('twitter_handler') }}" ) Add twitter account
