extends site/layout
- set status_code = handler.get_argument('status_code', None)

block javascript
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.addaccount_response.js')

block content
  #addaccount
    #main
      #main_inner
        .message 
          h1 Thanks!

