extends site/_change_form

block javascript
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.changepassword.js')

block content
  #main
    #main_inner
      .description
        include site/_profile

      .form
        mixin form()
