extends site/layout

block javascript
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.forgotpassword.js')

block content
  #main
    #main_inner
      include site/_create_description

      form#forgotpassword_form.form( method='post' )
        {{ handler.xsrf_form_html() }}

        {% if status_code != None %}
        .message
          p check your email account.
        {% endif %}


        h1 Forgot password 
          br
          | Smart Tweet account

        .row
          input#email.customplaceholder( type='text', name='email', value='', title='Email', autocomplete='off' )
          label.label.placeholder( for='email' ) Email

        button#submit.button( type='submit' ) Send

