extends site/layout

block javascript
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.home.js')

block content
  #main
    #main_inner
      #create_account.inner
        include site/_login_description

        form#register_form.form( method='post' )
          {{ handler.xsrf_form_html() }}

          {% if status_code != None %}
          .message
            {% if status_code|bitwise_flag(1) %}
            p All fields are required.
            {% endif %}

            {% if status_code|bitwise_flag(2) %}
            p Confirm password. 
            {% endif %}

            {% if status_code|bitwise_flag(4) %}
            p Could not complete your registration.
            {% endif %}

            {% if status_code|bitwise_flag(8) %}
            p Your user already exists.
            {% endif %}

            {% if status_code|bitwise_flag(16) %}
            p Email already exists.
            {% endif %}
          {% endif %}


          h1 Create your
            br
            | Smart Tweet account

          .row
            input#email.customplaceholder( type='text', name='email', value='', title='Email' , autocomplete='off')
            label.label.placeholder( for='email' ) Email

          .row
            input#username.customplaceholder( type='text', name='nick', value='', title='Username', autocomplete='off' )
            label.label.placeholder( for='nick' ) Username

          .row
            input#password.customplaceholder( type='password', name='password', value='', title='Password' , autocomplete='off')
            label.label.placeholder( for='password' ) Password

          .row
            input#confirm_password.customplaceholder( type='password', name='confirm_password', value='', title='Confirm Password', autocomplete='off' )
            label.label.placeholder( for='confirm_password' ) Confirm Password

          button#submit.button( type='submit' ) Continue

