!!!transtitional

//if lt IE 7
  html#html.no-js.lt-ie10.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html#html.no-js.lt-ie10.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html#html.no-js.lt-ie10.lt-ie9(lang='en')
//if IE 9
  html#html.no-js.lt-ie10(lang='en')
//[if gt IE 9]><!
html#html.no-js(lang='en')
  //<![endif]
  head
    title Smart Tweet
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    meta( name='description', content='' )
    link( href!="{{ handler.static_url('css/site.css') }}", type='text/css', rel='styleSheet', media='screen' )

  body#body
    #wrapper
      a#logo( href='/' ) Smart Tweet
      #content
        block content

    block javascript
