extends site/layout

block javascript
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.home.js')

block content
  #main
    #main_inner
      #login_account.inner
        include site/_create_description

        form#login_form.form( method='post' )
          {{ handler.xsrf_form_html() }}

          {% if status_code != None %}
          .message
            {% if status_code|bitwise_flag(1) %}
            p Username or password invalid
            {% endif %}
          {% endif %}

          h1 Sign in with your
            br
            | Smart Tweet account

          .row
            input#username_login.customplaceholder( type='text', name='nick', value='', title='Username', autocomplete='off' )
            label.label.placeholder( for='username_login' ) Username

          .row
            input#password_login.customplaceholder( type='password', name='password', value='', title='Password', autocomplete='off' )
            label.label.placeholder( for='password_login' ) Password

          .row
            button#signin.button( type='submit' ) Sign in

          a#forgotpassword( href!="{{ handler.reverse_url('forgot_password') }}" ) Forgot password?

