extends site/layout

block javascript
  script( type='text/javascript', src!="{{ handler.static_url('js/libs/require-jquery.js') }}", data-main='/static/js/site.profile.js')

block content
  #main
    #main_inner
      #profile.inner
        .description
          include site/_profile

        .form
          .row
            a.button( href!="{{ handler.reverse_url('change_password') }}" ) Change Password
          .row
            {% if user.status %}
            a.button#remove_twitter_account( href!="{{ handler.reverse_url('twitter_profile') }}" ) Remove Twitter Account
            {% else %}
            a#add_account_button.button( href!="{{ handler.reverse_url('twitter_handler') }}" ) Add twitter account
            {% endif %}

