/*
Hoja de estilos de LIDER
*/

//-------------------------------------------
// mixins
//-------------------------------------------
clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

opacity()
  -moz-opacity .50
  'filter: alpha(opacity=50);'
  opacity .50

border_radius(n)
  -moz-border-radius arguments
  -webkit-border-radius arguments
  -o-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

box_shadow(n)
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  -o-box-shadow arguments
  -ms-box-shadow arguments
  box-shadow arguments

//-------------------------------------------
// Imports
//-------------------------------------------
@import 'static/css/site.reset'
@import 'static/css/site.class'
@import 'static/css/site.main'
