/*
Hoja de estilos de LIDER
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: normal;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
ol,
ul {
  list-style: none;
}
li {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 14px;
  font-size: 18px;
  line-height: 22px;
  color: #87cdea;
  font-weight: normal;
}
a,
strong {
  color: #87cdea;
}
a:hover {
  text-decoration: none;
}
.inner {
  zoom: 1;
}
.inner:before,
.inner:after {
  content: "";
  display: table;
}
.inner:after {
  clear: both;
}
.row {
  position: relative;
  margin: 0 0 10px;
}
input {
  border: 1px solid #fff;
  resize: none;
  outline: none;
  padding: 6px 9px;
  margin: 0;
  width: 187px;
  font-size: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #9f9f9f;
}
input:focus {
  border-color: #87cdea;
  color: #999;
}
.button {
  background: #333;
  color: #c9c9c9;
  font-size: 13px;
  line-height: 23px;
  width: 190px;
  border: 1px solid #9e9e9e;
  border-bottom-color: #101010;
  border-right-color: #101010;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.button:hover {
  background: #444;
  color: #fff;
}
.button:active {
  position: relative;
  bottom: -1px;
}
a.button {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 3px 0;
}
.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 6px;
  color: #9f9f9f;
}
.message {
  background: #ff9c0e;
  color: #333;
  padding: 10px;
  margin: 0 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.message h1 {
  font-size: 20px;
  color: #333;
  margin: 0;
}
input.error {
  border-color: #ff9c0e;
}
label.error {
  color: #ff9c0e;
  display: block;
  padding: 3px 0;
}
.profile {
  font-size: 15px;
  line-height: 22px;
}
.profile strong {
  padding: 0 10px 0 0;
}
#body {
  background: #000;
  font-family: Arial, Helmet, Freesans, sans-serif;
  color: #c9c9c9;
  font-size: 13px;
  line-height: 17px;
}
#logo {
  display: block;
  position: absolute;
  top: 131px;
  left: 324px;
  width: 193px;
  height: 62px;
  text-indent: -9999em;
}
#wrapper {
  background: #000 url("../images/bg.jpg") no-repeat top center;
  margin: 0 auto;
  width: 840px;
  min-height: 635px;
  _height: 635px;
  position: relative;
}
#content {
  position: absolute;
  top: 224px;
  left: 124px;
  width: 589px;
}
#main {
  background: transparent url("../images/main_bg.png") repeat 0 0;
}
#main_inner {
  padding: 13px 32px;
  zoom: 1;
}
#main_inner:before,
#main_inner:after {
  content: "";
  display: table;
}
#main_inner:after {
  clear: both;
}
.description,
.form {
  padding-top: 31px;
}
.description {
  float: left;
  width: 242px;
  padding-right: 20px;
}
.form {
  float: left;
  width: 213px;
  border-left: 1px solid #414243;
  padding-left: 47px;
  padding-bottom: 48px;
}
#steps {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #666;
}
#steps .active {
  font-size: 18px;
  color: #fff;
}
#addaccount #register {
  height: 156px;
}
#resetpassword #main {
  width: 259px;
  margin: 0 auto;
}
