/*
Hoja de estilos main
*/
#body
  background #000
  font-family Arial, Helmet, Freesans, sans-serif
  color #c9c9c9
  font-size 13px
  line-height 17px

#logo
  display block
  position absolute
  top 131px
  left 324px
  width 193px
  height 62px
  text-indent -9999em

#wrapper
  background #000 url(../images/bg.jpg) no-repeat top center
  margin 0 auto
  width 840px
  min-height 635px
  _height 635px
  position relative

#content
  position absolute
  top 224px
  left 124px
  width 589px

#main
  background transparent url(../images/main_bg.png) repeat 0 0

#main_inner
  padding 13px 32px
  clearfix()

.description,
.form
  padding-top 31px

.description
  float left
  width 242px
  padding-right 20px

.form
  float left
  width 213px
  border-left 1px solid #414243
  padding-left 47px
  padding-bottom 48px

#steps
  position absolute
  top 20px
  right 20px
  color #666

  .active
    font-size 18px
    color #FFF

#addaccount
  #register
    height 156px

#resetpassword
  #main
    width 259px
    margin 0 auto
