.inner
  clearfix()


/* forms */
.row
  position relative
  margin 0 0 10px

input
  border 1px solid #FFF
  resize none
  outline none
  padding 6px 9px
  margin 0
  width 187px
  font-size 13px
  border_radius(5px)
  color #9f9f9f

  &:focus
    border-color #87CDEA
    color #999

.button
  background #333
  color #c9c9c9 
  font-size 13px
  line-height 23px
  width 190px
  border 1px solid #9E9E9E
  border-bottom-color #101010
  border-right-color #101010
  cursor pointer
  border_radius(5px)

  &:hover
    background #444
    color #FFF

  &:active
    position relative
    bottom -1px

a.button
  display block
  text-align center
  text-decoration none
  padding 3px 0

.placeholder
  position absolute
  top 0
  left 0
  display block
  padding 6px
  color #9f9f9f

.message
  background #ff9c0e
  color #333
  padding 10px
  margin 0 0 10px
  border_radius(5px)

  h1
    font-size 20px
    color #333
    margin 0

input.error
  border-color #ff9c0e

label.error
  color #ff9c0e
  display block
  padding 3px 0

.profile
  font-size 15px
  line-height 22px

  strong
    padding 0 10px 0 0

