<p style="margin: 0 0 25px">Hello {{ nick|default('') }}</p>
<p style="margin: 0 0 25px">following this link to change your password.</p>

<a href="{{ url }}" style="display: block; line-height: 39px; text-decoration: none; width: 240px; height: 39px; margin: 60px auto 0; color: #FFF; background: #F48937;">CHANGE PASSWORD</a>
